@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}


body {
  overflow-x: hidden;
  padding-bottom: 20px;
  background-color: #000;
}

.navbar {
  background-color: #000 !important;
  padding-bottom: 8px;
}
.container{
  display: flex;
  flex-direction:row;
}
.tedx-image{
  padding-left: 5vw;
  padding-top: 2vh;
  width:30%;
}
.navbar-nav{
  padding-top: 2vh;
  padding-left: 4.5vw;
}
.background{
  height:90vh;
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.banTitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color: rgba(255,255,255,1);
  border: 6px solid rgba(255,255,255,1);
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.banTitle:hover{
  font-size: 3.5vw;
}
.banTitle .boldspan {
  color: rgba(230,43,30,1);
}

.card {
 position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.nav {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.third{
  text-align: center;
}

/* #tedx{
  padding-top: 12vh;
}
#tedxiitkgp{
  padding-top: 12vh;
} */
#link1,#link2,#link3{
  font-size: 1.3vw;
  border-radius: 10px;
  padding: 1.5vw 5vw ;
  font-weight: 600;
  margin-left: 8vh;
}
.about-heading{
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
  color: #f00;
  transition: all 0.3s ease;
}
.about-heading:hover{
  font-size: 3.6rem;
}
.nav-item {
    transition: all 0.3s ease;
    font-family: Arial;
}
.para-tab {
	color: #888;
	text-align: left;
}
.nav-link {
	color: #555 !important;
}

.nav-tabs .nav-link.active {
	color: rgb(230, 43, 30) !important;
}
.inactive{
  color: white !important;
  background-color: #888 !important;
}
/* .nav-item>.active {
	background: white !important;
} */

.nav-item:hover {
	outline-color: #f00;
}
.nav-tabs .nav-link.active {
	color: rgb(230, 43, 30) !important;
}
.para-tab{
  padding: 2vw 2vw 2vw 2vw;
  font-size: 1.3rem;
}
.about-row{
  width: 100vw !important;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.tab-content>.active {
  display: block;
}
.fade.show {
  opacity: 1;
}

.about{
  margin-top: 10vh;
}
.shadow-inset-center {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(1, 1, 1, 1) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(1, 1, 1, 1) both;
}
@media screen and (max-width:991px) {
  .row{
    width:80%;
  }
  .banTitle{
    width:60%;
  }
}
@media screen and(max-width:600px){
  .banTitle{
    width:90% !important;
    font-size: 3.5vw;
  }
}
@media screen and(max-width:400px){
  .banTitle{
    width:70%;
    font-size: 3.5vw;
  }
}