*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer {
    background: black;
    padding: 30px 0;
    /* color: #111; */
    font-size: 16px;
}
  
p{
    color: white;
}
footer h4 {
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #f4511e;
    text-decoration: underline;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-3 {
    flex: 1;
    margin-bottom: 30px;
    margin: 0 7%;
}
