@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
  overflow-x: hidden;
  padding-bottom: 20px;
  background-color: #000;
}

.navbar {
  /* to make the navbar sticky */
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #000 !important;
  padding-bottom: 20px;
  z-index: 100;
}
.nav-bar {
  top:0%;
  margin: 1.5vw 0vw;
  margin-top: 0vw;
  padding-top: 1vw;
  z-index: 100;
  position: fixed !important;
  height: 12vh;
  width: 100%;
  background-color: #000;
  position: relative;
}
.nav-btn{
  padding-right:5vw;
}

.nav > .nav-header {
  display: inline;
}
.nav-tabs{
  border: 0px;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  margin-top: 0.3vw;
  background-color: #000 !important;
  margin-right: 5vw;
  position: absolute;
  right: 0%;
  display: inline;
  float: right;
  font-size: 1.5rem;
}

.nav > .nav-links > a {
  font-size: 1.6rem;
  font-family: raleway,sans-serif;
  display: inline-block;
  padding: 13px 14px;
  text-decoration: none;
  color: #efefef;
  font-weight: 600;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-links {
    padding-right: 3vw;
    text-align: end;
    top:60px !important;
  }
  
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    cursor:pointer;
  }
  .nav > .nav-links {
    position: absolute;
/*     display: block; */
    width: 100%;
    background-color: #333;
    max-height: 0px;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    padding-right: 10vw;
  }
  .nav > .nav-links > a {
    font-size: 1rem;
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    max-height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
/*     height: calc(100vh - 50px); */
    max-height:400px;
    overflow-y: hiddin;
  }
}
.get-tickets{
  font-family: Raleway,sans-serif;
  color: #fff;
  background-color: rgb(254, 42, 6);
  font-weight: 600;
  padding: 0.5vw 1.5vw;
  border-radius: 10px;
}
.get-tickets:hover{
  background-color: #181818;
}
.collapse {
  padding-left: 18px;
}

.nav > .nav-links > a:hover {
  color: red;
}


.container{
  display: flex;
  flex-direction:row;
}
.tedx-image{
  position: absolute;
  left:0%;
  padding-left: 5vw;
  padding-top: 0vh;
  width:30rem;
}
.navbar-nav{
  padding-top: 2vh;
/*   padding-left: 4.5vw; */
  padding-left: 52.5vw;
}
.background{
  margin-top: 5vw;
  height:90vh;
  background-image: url(/Assests/img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banTitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color: rgba(255,255,255,1);
  border: 6px solid rgba(255,255,255,1);
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.banTitle:hover{
  font-size: 3.2vw;
}
.banTitle .boldspan {
  color: rgba(230,43,30,1);
}

.card {
 position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.nav {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  
}

.nav-tabs .nav-item {
  border-bottom:0px !important;
  margin-bottom: -1px;
}

.third{
  text-align: center;
}

/* #tedx{
  padding-top: 12vh;
}
#tedxiitkgp{
  padding-top: 12vh;
} */
#link1,#link2,#link3{
  font-family: Raleway,sans-serif;
  font-size: 1.1vw;
  border-radius: 10px;
  padding: 1vw 4vw ;
  font-weight: 900;
  margin-left: 8vh;
}

.about-heading{
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
  color: #f00;
  transition: all 0.3s ease;
}
.about-heading:hover{
  font-size: 3.6rem;
}
.nav-item {
    transition: all 0.3s ease;
    font-family: Arial;
}
.para-tab {
	color: #fff;
	text-align: left;
}
.nav-link {
	color: #555 !important;
}

.nav-tabs .nav-link.active {
	color: rgb(230, 43, 30) !important;
}
.inactive{
  color: #000 !important;
  color: white !important;
  background-color: #979797 !important;
}
/* .nav-item>.active {
	background: white !important;
} */

.nav-item:hover {
	outline-color: #f00;
}
.nav-tabs .nav-link.active {
	color: rgb(230, 43, 30) !important;
}
.para-tab{
  font-family: Montserrat;
  padding: 2vw 3vw;
  font-size: 2rem;
}
.about-row{
  /* width: 100vw !important; */
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.tab-content>.active {
  display: block;
}
.fade.show {
  opacity: 1;
}

.about{
  margin-top: 10vh;
}
.shadow-inset-center {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(1, 1, 1, 1) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(1, 1, 1, 1) both;
}


/* current-speakers CSS */
h2{
  font-family: Raleway,sans-serif;
  text-align: center;
  font-size: 5.5rem;
  color: white;
  font-weight: 600;
}
.red-text{
  color: red;
}
.carousel {
    margin: 10px auto 50px auto ;
    padding: 0 70px;
}
.carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}
.carousel .thumb-wrapper {
  font-family: Raleway,sans-serif;
  margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 25vw;
    padding: 25px 15px;
    /* background: #fff; */
    border-radius: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .thumb-wrapper:hover{
  box-shadow: 1px 10px 20px red;
  transform: translateY(-20px);
}

.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.carousel .item img {	
    top:0px;
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    border:4px solid #fff;
    border-radius: 50%;
    bottom: 0;
    margin: 10px auto auto auto;
    left: 0;
    right: 0;
}
/* .carousel .item img:hover{
  border:4px solid red;
} */
.carousel .item h2{
  position: absolute;
  top:15vw;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5vw;
  color: #fff;
  margin: 15px 0;
}
.carousel .item p{
  position: absolute;
  top:19vw;
  font-weight: 600;
  font-size: 24px;
}
.carousel .item h4 {
    font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
    margin-bottom: 5px;
}
.carousel .thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
}
.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
    height: 40px;
    width: 43px;
    background: red;	
    margin: auto 0;
    border-radius: 50%;
    opacity: 0.8;
}
.carousel .carousel-control:hover {
    background: red;
    opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}
.carousel .carousel-control.left i {
    margin-left: -2px;
}
.carousel .carousel-control.right i {
    margin-right: -4px;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}
.carousel-indicators li {	
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
    background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
    color: #ff6161;
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}
.speaker-row{
  justify-content: space-around !important;
}
.mobile{
  flex-direction: column;
  align-items: center !important;
}
.phone{
  display: none;
}
.mobile-wrapper{
  width:70vw;
  height: 70vw;
}
.phone-col{
  display: flex;
  justify-content: center;
}
.img-box2{
  height: 40vh;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}


/* message box CSS */
.box-message{
  display: flex;
  justify-content: center;
  transition: all 1s ease;
}
.message-box{
  display: flex;
  display: none;
  margin-top: 15vh;
  top: -80vh;
  height: 72vh;
  width: 65vw;
  position: fixed;
  background-color: #1B1717;
  transition: all 1s ease;
  z-index: 101;
  border-radius: 3%;
}
.box-message .message-box button{
  border: none;
  font-size: 3vh;
  height: 5vh;
  width: 5vh;
  position: absolute;
  top:0px;
  right: 0px;
  color: #000;
}
.box-message .message-box .speaker-images .img-responsive{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0% 3% 3% 0%;
  /* filter:drop-shadow(16px 16px 10px black); */
}
.box-message .message-box .speaker-images{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box-message .message-box .speaker-information{
  word-wrap: break-word;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  padding: 1.8vw 1.5vw 2.5vw 3vw;
  width: 55%;
  
}
.box-message .message-box .speaker-information h2{
  text-align: left;
  color: #f00;
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
  margin-top: 5px;
  font-family: Raleway,sans-serif;
}
.box-message .message-box .speaker-information h3{
  color: #EBFFFB;
  font-size: 2rem;
  margin: 1vw 0px 1.5vw 0px;
  font-style: italic;
  font-family: Raleway,sans-serif;
  
}
.box-message .message-box .speaker-information p{
  color: #EBFFFB;
  font-size: 1.6rem;
  margin: 0px;
  font-family: Montesserat;
}
/* message box CSS complete */

@media screen and (max-width:991px) {
  .nav-row{
    width:80%;
  }
  .banTitle{
    width:60%;
  }
  #link1,#link2,#link3{
    font-size: 1.7rem;
  }
  .carousel{
    padding: 0 10px;
  }
}
@media screen and (max-width:768px){
  #link1,#link2,#link3{
    font-size: 2vw;
  }
  .para-tab{
    text-align: center;
  }
  .mobile-col{
      width: 100%;
      margin-bottom: 5vh;
  }
  .laptop{
      display: none;
  }
  .phone{
      display: block;
  }
  .carousel .item img {	
    top:0px;
    height: 40vw;
    width: 40vw;
  }
  .mobile-wrapper{
    height: 55vw !important;
  }
  .carousel .item h2{
    font-size: 2.2rem;
    top:40vw;
  }
  .carousel .item p{
    top:47vw;
    font-size: 2rem;
  }
  h2{
    font-size: 5vw;
  }
  .nav>.nav-links{
    padding-right: 5vw !important;
  }
  .nav > .nav-links > a{
    font-size: 2rem;
  }
  #link1,#link2,#link3{
    font-size: 1.7rem;
  }
} 
@media screen and (max-width:606px){
  .banTitle{
    width:90% !important;
    font-size: 3.5vw;
  }
  #link1,#link2,#link3{
    font-size: 1.5rem;
    padding: 1vw 2.7vw;
  }
  .carousel .item h2{
    margin-bottom: 3vw;
  }
}
@media screen and (max-width:516px){
  #link1,#link2,#link3{
    font-size: 2vw;
  }
  #link1,#link2,#link3{
    font-size: 4vw;
    padding: 3vw 6vw;
    margin: 2vw;
  }
  .card-header{
    padding: 0;
  }
  .mobile-wrapper{
    height:60vw !important;
  }
  .carousel .item p{
    top: 49vw;
  }
  .nav{
    flex-direction: column;
    align-items: center;
  }
  .tedx-image{
    top:0px;
  }
}
@media screen and (max-width:390px){
  .banTitle{
    width:70%;
    font-size: 3.5vw;
  }
  
  .mobile-wrapper{
    height:70vw !important;
  }
  .carousel .item p{
    top: 59vw;
  }
}