@-webkit-keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  
  
  body {
    overflow-x: hidden;
    background-color: #1c1c1c;
  }
  #About-tedx,#speakers {
    scroll-margin-top: 100px;
  }
  .tedx-image{
    position: absolute;
    left:0%;
    padding-left: 5vw;
    padding-top: 0vh;
    width:25rem;
    z-index: 5;
  }
  /* navbar css */
  .navbar {
    /* to make the navbar sticky */
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #000 !important;
    padding-bottom: 20px;
    z-index: 100;
  }
  .nav-bar {
    top:0%;
    margin: 1.5vw 0vw;
    margin-top: 0vw;
    padding-top: 1vw;
    z-index: 100;
    position: fixed !important;
    height: 12vh;
    width: 100%;
    background-color: #000;
    position: relative;
  }
  .nav-btn{
    padding-right:5vw;
    height: 100%;
    display: flex !important;
    align-items: center;
  }
  
  .nav > .nav-header {
    display: inline;
    height: 100%;
  align-items: flex-start;
  }
  .nav-tabs{
    border: 0px;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    margin-top: 0.3vw;
    background-color: #000 !important;
    margin-right: 5vw;
    position: absolute;
    right: 0%;
    display: inline;
    float: right;
    font-size: 1.5rem;
  }
  
  .nav > .nav-links > a {
    position: relative;
    top:-10px;
    font-size: 1.6rem;
    font-family: raleway,sans-serif;
    display: inline-block;
    padding: 13px 14px;
    text-decoration: none;
    color: #efefef;
    font-weight: 600;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-links {
      padding-right: 3vw;
      text-align: end;
      top:60px !important;
    }
    
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
      cursor:pointer;
    }
    .nav > .nav-links {
      position: absolute;
  /*     display: block; */
      width: 100%;
      background-color: #333;
      max-height: 0px;
      transition: all 0.5s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      padding-right: 10vw;
    }
    .nav > .nav-links > a {
      font-size: 1rem;
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      max-height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
  /*     height: calc(100vh - 50px); */
      max-height:400px;
      overflow-y: hiddin;
    }
  }
  .get-tickets{
    font-family: Raleway,sans-serif;
    border:0px !important;
    color: #fff;
    background-color: rgb(254, 42, 6);
    font-weight: 600;
    padding: 0.5vw 1.5vw;
    border-radius: 10px;
  }
  .get-tickets:hover{
    background-color: #181818;
  }
  .collapse {
    padding-left: 18px;
  }
  
  .nav > .nav-links > a:hover {
    color: red;
  }
  
  /* navbar css complete */
  
  .navbar-nav{
    padding-top: 2vh;
  /*   padding-left: 4.5vw; */
    padding-left: 52.5vw;
  }
  
  /* video section css complete */
  .card {
   position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1c1c1c;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color:#1c1c1c;
    border: 0px;
  }
  
  .nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    
  }
  
  .nav-tabs .nav-item {
    border-bottom:0px !important;
    margin-bottom: -1px;
  }
  
  .third{
    text-align: center;
  }
  
 
  /* current-speakers CSS */
  h2{
    font-family: Raleway,sans-serif;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 600;
  }
  .red-text{
    color: rgb(254, 42, 6);
  }
  .carousel {
      margin: 10px auto 50px auto ;
      padding: 0 70px;
  }
  .carousel .item {
      color: #747d89;
      min-height: 325px;
      text-align: center;
      overflow: hidden;
  }
  .carousel .thumb-wrapper {
    font-family: Raleway,sans-serif;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 25vw;
    padding: 25px 15px;
    /* background: #fff; */
    border-radius: 6px;
    text-align: center;
    position: relative;
    /* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
  }
  .carousel .thumb-wrapper:hover{
    box-shadow: 1px 10px 20px red;
    transform: translateY(-20px);
  }
  
  .carousel .item .img-box {
      height: 120px;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
  }
  .carousel .item .img-responsive {	
      top:0px;
      height: 15vw;
      width: 15vw;
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      display: block;
      position: absolute;
      border:4px solid #fff;
      border-radius: 50%;
      bottom: 0;
      margin: 10px auto auto auto;
      left: 0;
      right: 0;
  }
  .carousel .item .youtube-icon{
    position: absolute;
    height: 45px;
    width:45px;
    bottom:15px;
  }
  /* .carousel .item img:hover{
    border:4px solid red;
  } */
  .carousel .item h2{
    position: absolute;
    top:16vw;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4vw;
    color: #fff;
    margin: 15px 0;
  }
  .carousel .item p{
    position: absolute;
    top:19vw;
    font-weight: 600;
    font-size: 1.3vw;
  }
  .carousel .item h4 {
      font-size: 18px;
  }
  .carousel .item h4, .carousel .item p, .carousel .item ul {
      margin-bottom: 5px;
  }
  .carousel .thumb-content .btn {
      color: #7ac400;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      border: 1px solid #7ac400;
      padding: 6px 14px;
      margin-top: 5px;
      line-height: 16px;
      border-radius: 20px;
  }
  .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
      color: #fff;
      background: #7ac400;
      box-shadow: none;
  }
  .carousel .thumb-content .btn i {
      font-size: 14px;
      font-weight: bold;
      margin-left: 5px;
  }
  .carousel .carousel-control {
      height: 40px;
      width: 43px;
      background: red;	
      margin: auto 0;
      border-radius: 50%;
      opacity: 0.8;
  }
  .carousel .carousel-control:hover {
      background: red;
      opacity: 1;
  }
  .carousel .carousel-control i {
      font-size: 36px;
      position: absolute;
      top: 50%;
      display: inline-block;
      margin: -19px 0 0 0;
      z-index: 5;
      left: 0;
      right: 0;
      color: #fff;
      text-shadow: none;
      font-weight: bold;
  }
  .carousel .item-price {
      font-size: 13px;
      padding: 2px 0;
  }
  .carousel .item-price strike {
      opacity: 0.7;
      margin-right: 5px;
  }
  .carousel .carousel-control.left i {
      margin-left: -2px;
  }
  .carousel .carousel-control.right i {
      margin-right: -4px;
  }
  .carousel .carousel-indicators {
      bottom: -50px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
      width: 10px;
      height: 10px;
      margin: 4px;
      border-radius: 50%;
      border: none;
  }
  .carousel-indicators li {	
      background: rgba(0, 0, 0, 0.2);
  }
  .carousel-indicators li.active {	
      background: rgba(0, 0, 0, 0.6);
  }
  .carousel .wish-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 99;
      cursor: pointer;
      font-size: 16px;
      color: #abb0b8;
  }


  .speaker-row{
    justify-content: space-around !important;
  }
  .mobile{
    flex-direction: column;
    align-items: center !important;
  }
  .phone{
    display: none;
  }
  .mobile-wrapper{
    width:70vw;
    height: 70vw;
  }
  .phone-col{
    display: flex;
    justify-content: center;
  }
  .img-box2{
    height: 40vh;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  
  /* footer CSS */
  footer {
    bottom: 0px;
    /* position: absolute;
 
    right: 0px;
    left: 0px; */
    background: black;
    padding: 30px 0;
    /* color: #111; */
    font-size: 16px;
  }
  
  p{
    color: white;
  }
  footer h4 {
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
    color: white;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #f4511e;
    text-decoration: underline;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    flex: 1;
    margin-bottom: 30px;
    margin: 0 5%;
  }
  
  /* footer CSS complete */
  
  
  @media screen and (max-width:1300px){

  }
  @media screen and (max-width:991px) {
    .nav-row{
      width:80%;
    }
    .carousel{
      padding: 0 10px;
    }
 
  }
  @media screen and (max-width:768px){
    .laptop{
      display: none;
    }
    .phone{
      display: block;
    }
    .carousel .item img {	
      top:0px;
      height: 40vw;
      width: 40vw;
    }
    .mobile-wrapper{
      height: 55vw !important;
    }
    .carousel .item h2{
      font-size: 2.2rem;
      top:40vw;
    }
    .carousel .item p{
      top:47vw;
      font-size: 2rem;
    }
    h2{
      font-size: 4rem;
    }
    .nav>.nav-links{
      padding-right: 5vw !important;
    }
    .nav > .nav-links > a{
      font-size: 2rem;
    }
  } 
  @media screen and (max-width:606px){
    .speaker-images img{
      display: none !important;
    }
    .carousel .item h2{
      margin-bottom: 3vw;
    }
  }
  @media screen and (max-width:516px){
    .card-header{
      padding: 0;
    }
    .mobile-wrapper{
      height:60vw !important;
    }
    .carousel .item p{
      top: 49vw;
    }
    .nav{
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width:430px){
    .carousel .item p{
      top: 59vw;
    }
   
  }
  @media screen and (max-width:400px){

  }