body {
    overflow-x: hidden;
    font-family: Raleway,sans-serif !important;
    padding-bottom: 20px;
    background-color: #000 !important;
  }
  
  .navbar {
    /* to make the navbar sticky */
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #000 !important;
    padding-bottom: 20px;
    z-index: 100;
  }
  .nav-bar {
    top:0%;
    /* margin: 1.5vw ; */
    margin-top: 0vw;
    margin-bottom: 5vw;
    padding-top: 1vw;
    padding-bottom: 4vw;
    z-index: 100;
    position: fixed !important;
    height: 10vh;
    width: 100%;
    background-color: #000;
    position: relative;
  }
  .nav-btn{
    padding-right:5vw;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  .nav-tabs{
    border: 0px;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    background-color: #000 !important;
    margin-right: 3vw;
    position: absolute;
    right: 0%;
    display: inline;
    float: right;
    font-size: 1.5rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  /* form CSS */
  #ff-compose{
    padding-top: 10vh;
    color: #eee;
  }
  .ff-section{
    padding: 3vw;
    border: 3px solid red;
  }
  #ff-compose .ff-button-bar img{
    display: none;
  }
  .ff-item-qs{
    color: red;
  } 
  .ff-qs-html-text{
    color: red;
  }
  /* form CSS complete */
  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-links {
      padding-right: 3vw;
      text-align: end;
      top:60px !important;
    }
    
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
      cursor:pointer;
    }
    .nav > .nav-links {
      position: absolute;
  /*     display: block; */
      width: 100%;
      background-color: #333;
      max-height: 0px;
      transition: all 0.5s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      max-height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
  /*     height: calc(100vh - 50px); */
      max-height:400px;
      overflow-y: hiddin;
    }
  }
  
  .collapse {
    padding-left: 18px;
  }
  .container{
    display: flex;
    flex-direction:row;
  }
  .section-item{
    font-size: 1rem;
  }
  .section-item:hover {
    border-bottom: 1px solid red;
  }
  .nav-tabs .nav-item {
    border-bottom:0px !important;
    margin-bottom: -1px;
  }
  .tedx-image{
    position: absolute;
    left:0%;
    padding-left: 5vw;
    padding-top: 0vh;
    width:20rem;
  }
  .navbar-nav{
    padding-top: 2vh;
  /*   padding-left: 4.5vw; */
    padding-left: 52.5vw;
  }
  
  @media screen and (max-width:991px) {
    .nav-row{
      width:80%;
    }
  }
  @media screen and (max-width:768px){

  } 
  @media screen and (max-width:600px){

  }
  @media screen and (max-width:505px){
    .nav{
      flex-direction: column;
      align-items: center;
    }
    .tedx-image{
      top:0px;
    }
  }
  @media screen and (max-width:390px){
    
  }