body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    min-height: 100vh;
    background: #1c1c1c !important;
    font-family: sans-serif;
    overflow-x: hidden;
  }
/* navbar CSS */
.navbar {
  /* to make the navbar sticky */
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #000 !important;
  padding-bottom: 20px;
  z-index: 100;
}
.nav-bar {
  top:0%;
  margin: 1.5vw 0vw;
  margin-top: 0vw;
  padding-top: 1vw;
  z-index: 100;
  position: fixed !important;
  height: 12vh;
  width: 100%;
  left: 0px;
  background-color: #000;
  position: relative;
}
.nav-btn{
  padding-right:5vw;
  height: 100%;
  display: flex !important;
  align-items: center;
}

.nav > .nav-header {
  display: flex;
  height: 100%;
  align-items: flex-start;
}
.nav-tabs{
  border: 0px;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  margin-top: 0.3vw;
  background-color: #000 !important;
  margin-right: 5vw;
  position: absolute;
  right: 0%;
  display: inline;
  float: right;
  font-size: 1.5rem;
}

.nav > .nav-links > a {
  position: relative;
  top:-10px;
  font-size: 1.6rem;
  font-family: raleway,sans-serif;
  display: inline-block;
  padding: 13px 14px;
  text-decoration: none;
  color: #efefef;
  font-weight: 600;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1120px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-links {
    padding-right: 3vw;
    text-align: end;
    top:6vh !important;
  }
  
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    cursor:pointer;
  }
  .nav > .nav-links {
    position: absolute;
/*     display: block; */
    width: 100%;
    background-color: #333;
    max-height: 0px;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    /* padding-right: 10vw; */
  }
  .nav > .nav-links > a {
    font-size: 1.6rem;
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    max-height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
/*     height: calc(100vh - 50px); */
    max-height:400px;
    overflow-y: hiddin;
  }
}
.get-tickets{
  font-family: Raleway,sans-serif;
  color: #fff;
  border:0px !important;
  background-color: rgb(254, 42, 6);
  font-weight: 600;
  padding: 0.5vw 1.5vw;
  border-radius: 10px;
}
.get-tickets:hover{
  background-color: #181818;
}
.collapse {
  padding-left: 18px;
}

.nav > .nav-links > a:hover {
  color: red;
}

/* navbar css complete */
.container{
  display: flex;
  flex-direction:row;
}
.tedx-image{
  z-index: -1;
  position: absolute;
  left:0%;
  padding-left: 5vw;
  padding-top: 0vh;
  width:35rem;
}
.navbar-nav{
  padding-top: 2vh;
/*   padding-left: 4.5vw; */
  padding-left: 52.5vw;
}
/* navbar CSS complete */
.team-heading{
  font-family: Raleway,sans-serif;
  color: white !important;
  font-size: 3.5rem;
  margin-top: 7vw;
  margin-left:4vw;
}
  .red-txt{
    color: red;
  }
  .box{
    width: 90vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .box1{
    width:50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .card{
    position: relative !important;
    width: 15vw;
    height: 20vw !important;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    border: 5px solid #f00;
    bottom: 90px;
  }
  .card:hover .details{
    display: flex;
    flex-direction: column;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 1.5vw;
    height: 60px;
    text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 1.6rem;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 1.2rem;
  color: #f38695;
  display: block;
  margin-top: 5px;
   }

  /* icons css */
  .contact-icons{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  .contact-icons img{
  height: 3rem;
  width: 3rem;
  } 
  
  /* icons css complete */
  /* footer CSS */
  .footer-class{
    width:100vw;
  }
  footer {
    bottom: 0px;
    background: black;
    padding: 30px 0;
    /* color: #111; */
    font-size: 16px;
  }
  p{
    font-size:2rem;
    color: white;
  }
  footer h4 {
    font-size:2.2rem !important;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    font-size:1.6rem !important;
    margin-bottom: 10px;
    color: white;
  }
  
  footer a {
    font-size:1.8rem;
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #e03a3c;
    text-decoration: none;
  }
  
  .footer-container {
    max-width: 1170px !important;
    margin: 0 auto !important;
  }
  
  .footer-row {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  
  .footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 !important;
    margin-bottom: 30px;
    margin: 0 5%;
  }
  .copyright{
    background-color: #000;
    text-align: center;
    color:#fff;
    padding-top: 2vw;
    font-size: 1.8rem;
  }
  .fa-brands,.mail,.phone{
    color:#000;
    border-radius:10%;
    background-color: #fff;
    margin-left: 0.5vw;
    padding: 0.2vw;
    border:2px solid #fff;
  }
  .social{
    font-size: 20px !important;
    color:#000;
    border-radius:10%;
    background-color: #fff;
    margin-left: 0.5vw;
    padding: 0.2vw;
    border:2px solid #fff;
  }
  .fa-brands,.fa-envelope-o,.fa-phone{
    font-size: 20px !important;
  }
  .fa-brands:hover,.mail:hover,.phone:hover{
    color: #fff;
    border:2px solid #e03a3c;
    background-color: #e03a3c;
  }
  .fa-facebook-f{
    padding:0.2vw 0.4vw;
  }

/* footer css complete */
@media screen and (max-width:991px){
  .box{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .box1{
    width:80%;
  }
  .card{
    height: 30vw !important;
    width:30vw !important;
    margin: 2vw;
  }
  .intial{
    margin-top: 12vw;
  }
  .team-heading{
    font-size:4rem;
    margin-left: 11vw;
  }
  .card .details{
    bottom: 2vw;
  }
  .card .details h2{
    font-size: 2rem;
  }
  .contact-icons{
    padding-top: 5px;
  }
  .fa-brands,.fa-envelope-o,.fa-phone{
    font-size: 25px !important;
  }
}
@media screen and (max-width:768px){
  .tedx-image{
    width:30rem;
  }
  .nav-bar{
    height:10vh;
  }
  .nav > .nav-header {
    align-items: center;
  }
  .box1{
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }
  .card{
    height:60vw !important;
    width:70vw !important;
    margin: 5vw;
  }
  .intial{
    margin-top: 15vw;
  }
  .nav>.nav-links{
    padding-right: 5vw !important;
  }
  .nav > .nav-links > a{
    font-size: 2rem;
  }
  .card .details h2{
    font-size: 2.5rem;
  }
  .card .details h2 span{

    font-size: 1.5rem;
  }
  .card:hover .imgBx
  {
    bottom: 120px;
  }
  .card .details{
    bottom:6vw;
  }
  .contact-icons{
    padding-top: 5px;
  }
  .fa-brands,.fa-envelope-o,.fa-phone{
    font-size: 25px !important;
  }
}
@media screen and (max-width:600px){
  .tedx-image{
    width:25rem;
  }
  .nav-bar{
    height:9vh;
  }
  .intial{
    margin-top: 26vw;
  }
  .card:hover .imgBx
  {
    bottom: 100px;
  }
}
@media screen and (max-width:516px){
  .tedx-image{
    width:23rem;
  }
  .nav-bar{
    height:8vh;
  }
}
@media screen and (max-width:479px){
 
  .card:hover .imgBx
  {
    bottom: 85px;
  }
  .card .details h2{
    font-size: 1.8rem;
  }
  .card .details h2 span{

    font-size: 1.2rem;
  }
  .card .details{
    bottom:4.8vw;
  }
  .contact-icons img{
    height: 3rem;
    width: 3rem;
  }
}
@media screen and (max-width:430px){
  .tedx-image{
    width:20rem;
  }
  .nav-bar{
    height:7vh;
  }
}